/*RESET*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILITIES*/

body {
    font-family: 'Montserrat', sans-serif;
}

.centered {
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #fff;
    text-shadow: #282828;
}

/*HEADER*/

header {
    background-color: #000000;
    width: 200px;
    height: calc(100vh - 80px);
    color: #6e7177;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem ;
    font-size: .8rem;
}

nav {
    flex-direction: column;
}

header nav img {
    width: 70%;
}

header nav div:first-child img:last-child {
    display: none;
}

header li {
    line-height: 1.5rem;
}

header li span {
    padding-left: .7rem;
}

header h3 {
    padding-bottom: .5rem;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
}

header .menu,
header .playlist {
    padding-top: 1.5rem;
}


header .menu ul li:first-child {
    color: #fff;
}

header .playlist span {
    padding-left: .5rem;
    vertical-align: top;
}

header .user hr {
    margin: .7rem 0;
}

header .user img,
header .menu img {
    width: 18px;
}

header .user a,
header .user p {
    padding-left: .5rem;
}

.fa-square-plus {
    font-size: 1.5rem;
}

.user div:last-child img {
    background-color: #6e7177;
    border-radius: 50%;
}

.user div:last-child p {
    color: #fff;
    font-weight: 700;
}


/*MAIN*/

main {
    background-color: #141922;
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    overflow-y: auto;
    color: #fff;
}

#upgrade-bar {
    height: 50px;
    background-color: #080b12;
    color: #fff;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

#upgrade-bar a:hover {
    transition: transform .3s;
    transform: scale(1.1);
}

#upgrade-bar a {
    color: #fff;
    padding: .5rem 1.5rem;
    border: 1px solid white;
    border-radius: 25px 25px;
    text-transform: uppercase;
    font-size: .6rem;
}

#recently-played,
#daily-mix,
#popular {
    width: 98%;
    padding-top: 2rem;
}

#popular {
    padding-bottom: 2rem;
}

main nav {
    color: #6e7177;
    padding-top: 1rem;
    text-transform: uppercase;
    justify-content: center;
}

main ul {
    justify-content: center;
    font-size: .8rem;
}

main ul li {
    padding: 0 1rem 1rem 0;
}

main .album {
    position: relative;
}

main .card-container {
    flex-wrap: wrap;
}

main .album img {
    width: 100%;
}

main .card {
    flex-direction: column;
    width: calc(100% / 6 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.album .overlay {
    width: 100%;
    height: 100%;
    background-color: #00000060;
    position: absolute;
    left: 0;
    display: none;
}

.album .overlay .fa-circle-play {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album:hover .overlay {
    display: initial;
}


main h1,
main h3 {
    padding-bottom: 1rem;
}

main h2,
main h3 {
    line-height: 1rem;
    text-align: center;
}

main h1 {
    font-size: 1rem;
    padding-left: 1rem;
}

main h2 {
    font-size: .8rem;
    padding-top: 1rem;
}

main h3 {
    font-size: .7rem;
    color: #6e7177;
    padding-top: .5rem;
}

main p {
    font-size: .7rem;
    color: #6e7177;
    padding: 0 0 1rem 1rem;
}


#popular img {
    border-radius: 50%;
}

/*FOOTER*/

footer {
    background-color: #282828;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.footer-container {
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.footer-left {
    color: #6e7177;
}


.footer-middle, 
.footer-right,
.footer-left h4  {
    color: #fff;
}

footer .footer-left,
footer .footer-left div:first-child{
    align-items: center;
}

footer .footer-left img {
    width: 40px;
    height: 40px;
}

footer .footer-left h4,
footer .footer-left span {
    font-size: .6rem;
    padding: 0 1rem;
}

footer .footer-left span:hover {
    text-decoration: underline;
}

footer .footer-left div:last-child .fa-regular {
    padding-left: 1rem;
}

.footer-middle {
    flex-direction: column;
    justify-content: center;
}

.footer-middle p {
    font-size: .7rem;
    padding: 0 1rem;
}

footer .footer-middle div:first-child,
footer .footer-middle div:last-child {
    justify-content: center;
    align-items: center;
}

footer .footer-middle div:first-child {
    justify-content: center;
}

footer .footer-middle div:first-child i {
   padding: .5rem .5rem;
}

footer .footer-middle .fa-circle-play {
    font-size: 1.5rem;
}

.footer-middle .fa-circle-play:hover {
    transition: transform .2s;
    transform: scale(1.3);
}

.footer-right {
    justify-content: center;
    align-items: center;
}

footer .footer-right i {
    font-size: .8rem;
    padding-right: 1.5rem;
}

footer #playbar {
    width: 80px;
    height: 3px;
    background-color: #fff;
}

footer #playbar-grey {
    width: 200px;
    height: 3px;
    background-color: #6e7177;
}

footer #small-playbar {
    width: 20px;
    height: 3px;
    background-color: #fff;
}

footer #small-playbar-grey {
    width: 90px;
    height: 3px;
    background-color: #6e7177;
}

.footer-middle:hover #playbar,
.footer-right:hover #small-playbar {
    background-color: rgb(57, 236, 57);
}

footer .dot {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: none;
}

.footer-middle:hover .dot,
.footer-right:hover .dot {
    display: initial;
}



/*********************RESPONSIVENESS*********************/

/*MD*/

@media screen and (max-width: 992px) {

    main ul {
        flex-wrap: wrap;
        padding: 0 3rem;
    }

    main .card {
        width: calc(100% / 4 - 2rem);
        flex-wrap: wrap;
    }
    

}


/*S*/

@media screen and (max-width: 768px) {
    

    main .card {
        width: calc(100% / 2 - 2rem);
        flex-wrap: wrap;
    }

    footer #playbar {
        width: 40px;
        height: 3px;
        background-color: #fff;
    }
    
    footer #playbar-grey {
        width: 100px;
        height: 3px;
        background-color: #6e7177;
    }
    
    footer #small-playbar {
        width: 10px;
        height: 3px;
        background-color: #fff;
    }
    
    footer #small-playbar-grey {
        width: 50px;
        height: 3px;
        background-color: #6e7177;
    }
    
}


/*XS*/

@media screen and (max-width: 576px) {

    header {
        width: 60px;
    }

    header span,
    header h3,
    header hr,
    header p,
    header .user a {
        display: none;
    }


    header .playlist{
        display: none;
    }

    header .user div:first-child img {
        padding-bottom: 1rem;
    }

    header nav div:first-child img:first-child {
        display: none;
    }

    header nav div:first-child img:last-child {
        display: initial;
    }

    footer #playbar {
        width: 20px;
        height: 3px;
        background-color: #fff;
    }
    
    footer #playbar-grey {
        width: 60px;
        height: 3px;
        background-color: #6e7177;
    }
    
    footer #small-playbar {
        width: 5px;
        height: 3px;
        background-color: #fff;
    }
    
    footer #small-playbar-grey {
        width: 30px;
        height: 3px;
        background-color: #6e7177;
    }

}




